{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <h3>FamilySearch Bulk Downloader</h3>
                <p>Usage: type the familysearch url of the document's first page to be downloaded, then press OK.</p>
                <form method="post">
                   {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="OK">
                </form>
            </div>
        </div>
    </div>
<!--batata-->
    <script src="/media/js/jquery.js"></script>
<script>
$( document ).ready(function() {
    var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

    for( var i=0; i < 5; i++ )
        text += possible.charAt(Math.floor(Math.random() * possible.length));

    $("#id_filename").val(text);
    $("#id_filename").parent().hide();
});

</script>

            {% endblock %}