{% extends "base.html" %}
{% block title-image %}home-bg.jpg {% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for post in posts %}
                <div class="post-preview">
                    <a href="/blog/post/{{post.id}}/">
                        <h2 class="post-title">
                            {{post.title}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{post.subtitle|default_if_none:""}}
                        </h3>
                    </a>
                    {% if post.poster %}
                    <p class="post-meta">Posted by <a href="/poster/{{poster.id}}">{{post.poster}}</a> on {{ post.date }}</p>
                    {% endif %}
                </div>
                <hr>
                {% endfor %}
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>


        </div>
    </div>
{% endblock %}